<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="style/style.css" rel="stylesheet">
		<title>Streemi - Inscription</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>

	<body class="font-montserrat text-sm bg-white">
		<div class="flex min-h-screen">
			{% include '/parks/left-menu.html.twig' %}
			<!-- /Left Sidebar -->
			<main class="flex-1">
				<header class=" font-bold text-lg flex items-center md:hidden">
					<span class="mr-6">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-gray-700" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h7"/>
						</svg>
					</span>
					<svg class="h-8 w-8 fill-red-600 shrink-0" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
						<path d="M10 15.5v-7c0-.41.47-.65.8-.4l4.67 3.5c.27.2.27.6 0 .8l-4.67 3.5c-.33.25-.8.01-.8-.4Zm11.96-4.45c.58 6.26-4.64 11.48-10.9 10.9 -4.43-.41-8.12-3.85-8.9-8.23 -.26-1.42-.19-2.78.12-4.04 .14-.58.76-.9 1.31-.7v0c.47.17.75.67.63 1.16 -.2.82-.27 1.7-.19 2.61 .37 4.04 3.89 7.25 7.95 7.26 4.79.01 8.61-4.21 7.94-9.12 -.51-3.7-3.66-6.62-7.39-6.86 -.83-.06-1.63.02-2.38.2 -.49.11-.99-.16-1.16-.64v0c-.2-.56.12-1.17.69-1.31 1.79-.43 3.75-.41 5.78.37 3.56 1.35 6.15 4.62 6.5 8.4ZM5.5 4C4.67 4 4 4.67 4 5.5 4 6.33 4.67 7 5.5 7 6.33 7 7 6.33 7 5.5 7 4.67 6.33 4 5.5 4Z"></path>
					</svg>
					<div class="tracking-wideflex-1">StrEEMI<span class="text-red-600">.</span>
					</div>
				</header>
<section class="h-full relative">
    <div style="background-image: url('https://blog.compose.fr/wp-content/uploads/2024/05/Marathon-Cinema.webp')" class="bg-cover bg-no-repeat h-full before:bg-black/40 before:content-[''] before:top-0 before:left-0 before:right-0 before:absolute before:w-full before:h-full">
        <div class="p-8 lg:w-1/2 mx-auto h-full flex items-center justify-center">
            <div class="bg-white rounded-lg p-8 relative w-full">
                <h1 class="text-center text-lg font-bold">Streemi</h1>

                {{ form_start(form, {'attr': {'class': 'mt-10 space-y-3'}}) }}
                    <div class="relative">
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="relative">
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="relative">
                        {{ form_widget(form.password.first) }}
                    </div>
                    <div class="relative">
                        {{ form_widget(form.password.second) }}
                    </div>
                    <div class="flex items-center justify-center !mt-8">
                        <button class="relative flex w-full bg-red-600 flex-row p-3 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                            <svg class="h-5 w-5 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                <title>account-plus</title><path d="M15,14C12.33,14 7,15.33 7,18V20H23V18C23,15.33 17.67,14 15,14M6,10V7H4V10H1V12H4V15H6V12H9V10M15,12A4,4 0 0,0 19,8A4,4 0 0,0 15,4A4,4 0 0,0 11,8A4,4 0 0,0 15,12Z"/></svg>
                            S'inscrire
                        </button>
                    </div>
                {{ form_end(form) }}

                <div class="flex items-center justify-center mt-16">
                    <a class="text-red-600 cursor-pointer transition hover:text-red-700 hover:scale-105">
                        Vous avez déjà un compte ? Connectez-vous
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
			</main>
		</div>

	</body>

</html>
